@model Hootel.Client.ViewModel.HotelRoomViewModel

@{
    ViewData["Title"] = "Quarto";
}


<h1 class="mt-4 mb-4">
    @Model.Hotel.Name
</h1>

<h2>Sobre o quarto</h2>

<p>
    @Model.Room.Description
</p>

<ul>
    <li>Para @Model.Room.PeopleNumber pessoa(s);</li>
    <li>@Model.Room.BathroomsNumber banheiro(s).</li>
    <li>Quarto nº @Model.Room.RoomNumber</li>
    
</ul>

<h4>Preço diário: R$ @Model.Room.DailyPrice.ToString().Replace(".", ",")</h4>

<h4>Reservas</h4>
@if (Model.Reservations.Count == 0)
{
    <h6>Esse quarto não possui nenhuma reserva ativa.</h6>
}
else
{
    @foreach (var reservation in Model.Reservations)
    {
        <p>
            Reservado para os dias entre @reservation.ChekIn.ToString("dd/MM/yyyy") e @reservation.CheckOut.ToString("dd/MM/yyyy").
        </p>
    }
}

<form method="POST" asp-controller="Reservation" asp-action="Reservation">
    <button type="submit" class="btn btn-primary mt-2">Quero esse quarto!</button>
    <input type="hidden" name="rId" value="@Model.Room.Id" />
</form>

<h2 class="mt-4 mb-2">Sobre o hotel</h2>

<p>
    @Model.Hotel.Description
</p>
<p>Esse hotel fica localizado em @Model.Hotel.Address, @Model.Hotel.City, @Model.Hotel.State</p>
<a asp-action="ViewHotel" asp-route-id="@Model.Hotel.Id">Ver hotel</a>


