
@model Hootel.Client.ViewModel.HomeHotelViewModel

@{
    ViewData["Title"] = Model.Hotel.Name;
}

<h1 class="display-5 mb-3 mt-5">Ótima escolha! @Model.Hotel.Name</h1>
<p>@Model.Hotel.Description</p>
<p>Tenha em mente que esse hotel fica localizado em @Model.Hotel.Address, @Model.Hotel.City, @Model.Hotel.State</p>

<h2 class="mt-5">Quartos disponíveis</h2>
<div class="d-flex gap-3 mt-4">
    @foreach (var room in Model.AvailableRooms)
    {
        <div class="w-25 p-3 card">
            <p>
                @room.Description
            </p>
            <ul>
                <li>Para @room.PeopleNumber pessoa(s);</li>
                <li>@room.BathroomsNumber banheiro(s).</li>
                <li>Quarto nº @room.RoomNumber</li>
            </ul>
            <h4>
                R$ @room.DailyPrice.ToString("N1") por dia.
            </h4>
            <a asp-action="Room" asp-route-id="@room.Id" class="btn btn-primary mt-1">Gostei</a>
        </div>
    }
</div>