@model Hootel.Client.ViewModel.HomeHotelViewModel

@{
    ViewData["Title"] = Model.Hotel.Name;
}

<h1 class="display-4 mb-3">Ótima escolha! @Model.Hotel.Name</h1>
<p>@Model.Hotel.Description</p>
<p>Tenha em mente que esse hotel fica localizado em @Model.Hotel.Address, @Model.Hotel.City, @Model.Hotel.State</p>