@using Hootel.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Hotel>

@{
    ViewData["Title"] = "Home";
}

<h1 class="display-4 mb-3 mt-3">Precisa de um hotel?</h1>
<h4 class="mb-3">
    <a asp-action="Search" class="mb-5">Clique aqui para escolher a melhor opção...</a>
</h4>
<div id="carouselExample" class="carousel slide mt-3">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://wallpaperaccess.com/full/2974376.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.hoteisdeluxobrasil.com.br/wp-content/uploads/2022/06/pool-v4660684-1440-capa.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.hoteisdeluxobrasil.com.br/wp-content/uploads/2022/04/exoticaboutiquehotelcapa.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<h2 class="mt-5 display-5">
    Faça a melhor escolha!
</h2>
<div class="mb-5 mt-3 d-flex gap-3">
    @if (Model.Count == 0)
    {
        <h4>Nenhum hotel encontrado.</h4>
    }
    else
    {
        @foreach (Hotel hotel in Model)
        {
            <div class="card w-25">
                <div class="card-body p-2">
                    <h4>
                        @hotel.Name
                    </h4>
                    <p>
                        @hotel.Description.Substring(0, Math.Min(hotel.Description.Length, 10))...<br/>
                    </p>
                    <p>@hotel.City, @hotel.State</p>
                    <a asp-controller="Hotel" asp-action="Hotel" asp-route-id="@hotel.Id">Visualizar detalhes</a>
                </div>
            </div>
        }
    }

</div>